@charset "UTF-8";

#deal_info{margin-top: 20px;}
#img_wrapper{float: left;position: relative;width: 540px;}
#img_wrapper .big_img .img{display: none;}
#img_wrapper .big_img .img.cur{display: block;}
#img_wrapper .big_img img{width: 540px;height: 540px;}
#img_wrapper .trigger a{position: absolute;top: 220px;display: inline-block;width: 40px;height: 80px;font-size: 80px;background-color: #000;opacity: 0.1;color: #ccc;}
#img_wrapper .trigger .prev{left: 0px;}
#img_wrapper .trigger .next{right: 0px;}
#img_wrapper .trigger a:hover{opacity: 0.3;color: #fff;}
/*小图*/
#img_wrapper .small_img{width: 560px;}
#img_wrapper .small_img .img{display: inline-block;border:2px solid #fff;margin: 0 6px;width: 68px;height: 68px;cursor: pointer;}
#img_wrapper .small_img .img.cur{border-color: #224575;}
#img_wrapper .small_img img{width: 100%;height: 100%;}
/*右边*/
#deal_info .right{float: right; width: 520px;margin-left: 20px;font-family: "Calibri";color: #333;}
#deal_info .right h2,#deal_info .right .price{font-size: 36px;}
#deal_info .right ul{margin: 25px 0;}
#deal_info .right p,#deal_info .right li{font-size: 20px;line-height: 30px;}
#deal_info .right .price{color: #224575;}
#deal_info .right .cart{display: block;margin-top: 20px; width: 470px;height: 40px;background: url(../img/cart.png);}

/*下面*/
#deal_word{margin-top: 10px;padding: 20px 15px;font: 18px/25px "Calibri";color: #333;}
#deal_word .nav li{display: inline-block; background-color: #d7dde5; padding: 0 20px; margin-right: 25px; border-radius: 15px;}
#deal_word .nav li.cur,#deal_word .nav li:hover{background-color: #224575;}
#deal_word .nav li.cur a,#deal_word .nav a:hover{color: #fff}
#deal_word .nav a{font: 18px/30px "Calibri";color: #000;}
#deal_word .content{padding-top: 20px;}
#deal_word .content .tab_con{display: none;}
#deal_word .content .tab_con.cur{display: block;}
